#cloud-config
${yamlencode({
    ssh_pwauth = false

    users = [
      {
        name = "ansible"
        gecos: "Ansible User"
        groups = "wheel"
        sudo = "ALL=(ALL) NOPASSWD:ALL"
        shell = "/bin/bash"
        lock_passwd = true
        ssh_authorized_keys = ssh_authorized_keys
      }
    ]
  })}
