name: Scan IaC Configs for Vulnerabilities
on:
  push:
    branches: ["main"]
  pull_request:
jobs:
  configs:
    permissions:
      contents: read # To checkout and read repository
      security-events: write # To upload to security tab
    name: Scan Configs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.1

      - name: Run Trivy Vulnerability Scanner in IaC Mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "config"
          hide-progress: true
          format: "sarif"
          output: "trivy-results.sarif"

      - name: Upload Trivy Scan Results to GitHub Security Tab
        if: always()
        uses: github/codeql-action/upload-sarif@v4.31.5
        with:
          sarif_file: "trivy-results.sarif"
          category: "IaC-Config"
